/* VARIABLES */
:root {
 /* Main colors */
	--aubergine:#3C0038;
	--red:#FF3333;
	--green:#33FF33;
	--blue:#6666FF;
	--yellow:#EEDD33;
	--grey:#B2B2B2;
	
	/* Font sizes */
	--small:10px;
	--medium:16px;
	--large:24px;
}
/* GENERAL ELEMENTS */
html {
		padding:0.5rem;
}
nav {
	position:absolute;
	top:-45px;
	text-align:center;
	width:100%;
}
.guest nav {
	top:auto;
	bottom:0.25rem;
}
h1,h2 {
	text-align:center;
	font-family:Bangers,Helvetica,Arial,sans-serif;
}
body {
	background-color:var(--aubergine);
	color:white;
	font-family:Roboto,sans-serif;
	font-size:var(--medium);
	position:relative;
}
#container {
	max-width:768px;
	margin:0 auto 0.5rem auto;
	position:relative;
	height:calc(100vh - 3rem);
}
main {
	padding-bottom:2rem;
}
#logo {
	margin-top:40px;
	text-align:center;
}
#logo img {
	max-height:12em;
	margin:2rem 2rem 4rem 2rem;
}
@media screen and (max-width:768px) {
	#logo img {
	 max-height:6em;
	 margin:1rem 1rem 2rem 1rem;
	}
}
.error {
	color:var(--red);
}
.status {
	color:var(--green);
}
/* FORMS */
.form-group {
	background-color:transparent;
	border:0;
	text-align:center;
}
.form-group label,
.form-group small {
	color:white!important;
}
/*******************************************************************************
 * 
 * QUIZMASTER ELEMENTS
 * 
 *******************************************************************************/
textarea.form-control {
	height:5rem;
}
.errors {
	margin:0;
	list-style-type:none;
}
.errors li {
	text-align:center;
	color:var(--red);
}
@media screen and (max-width:768px) {
	.errors li {
	 font-size:80%;
	}
}
#quizzes {
	margin:1rem auto;
}
.quiz:first-child {
	border-top:1px solid var(--grey);
}
.quiz {
	border-bottom:1px solid var(--grey);
	padding:0.25rem 0;
}
.quiz .name {
	width:100%;
	padding-left:0.5rem;
	white-space:nowrap;
	overflow:hidden;
	font-weight:bold;
}
.quiz .details {
	position:relative;
	padding: 0 0.25rem;
	min-height:40px;
}
.quiz .info {
	font-size:80%;
	display:inline-block;
}
.quiz .actions {
	display:inline-block;
	white-space:nowrap;
	text-align:right;
	float:right;
}
.quizname {
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
}
#questions {
	margin:1rem auto;
}
.question:first-child {
	border-top:1px solid var(--grey);
}
.question {
	border-bottom:1px solid var(--grey);
	padding:0.25rem 0;
}
.question .questiontext {
	width:100%;
	padding-left:0.5rem;
	white-space:nowrap;
	overflow:hidden;
}
.question .details {
	position:relative;
	padding: 0 0.25rem;
	min-height:40px;
}
.question .info {
	font-size:80%;
	display:inline-block;
}
.question .actions {
	display:inline-block;
	white-space:nowrap;
	text-align:right;
	float:right;
}
.question:first-child .up {
	display:none;
}
.question:last-child .down {
	display:none;
}
#question-create .answer,
#question-edit .answer {
	width:47%;
	border:1px solid var(--grey);
	border-radius:6px;
	display:inline-block;
	margin:1%;
	padding:0.5rem;
}
/* RUN ELEMENTS */
#run-container {
	max-width:100%;
	margin:0 auto 0.5rem auto;
	position:relative;
	height:calc(100vh - 3rem);
}
#run-container #main-area {
	height:80vh;
	position:relative;
}
#run-container #quiz {
	display:inline-block;
	width:calc(80vw - 1.5rem);
	height:80vh;
	position:absolute;
	top:0;
	left:0;
	border:1px solid var(--grey);
	padding:0.25rem;
	text-align:center;
	font-size:120%;
}
#run-container #quiz #image1 img {
	max-width:calc(80vw - 3rem);
	max-height:60vh;
}
#run-container #next {
	display:inline-block;
	width:20vw;
	height:80vh;
	position:absolute;
	right:0;
	top:0;
	border:1px solid var(--grey);
	text-align:center;
	padding:0.25rem;
}
#run-container #logo img {
	max-height:4rem;
}
#run-container #next #nextpage {
	margin-right:2rem;
}
#run-container #status {
	margin-top:0.5rem;
	height:calc(20vh - 1.5rem);
	border:1px solid var(--grey);
	padding:0.25rem;
	overflow:hidden;
}
#run-container #status ul {
	list-style-type:none;
	margin:0;
}
/*******************************************************************************
 * 
 * PLAYER ELEMENTS
 * 
 *******************************************************************************/
#pin {
	font-size:var(--large);
	font-family:monospace;
	width:18rem;
	letter-spacing:0.5rem;
	margin:auto;
	text-align:center;
}
#play-container {
	position:relative;
	width:calc(100vw - 1.5rem);
	height:calc(100vh - 1.5rem);
	margin:0;
	padding:0.25rem;
}
#play-container #logo {
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	margin-top:0;
}
#play-container #logo img {
	max-width:10vw;
	max-height:10vh;
	width:10vw;
	margin:0;
}
#play-container #nickname {
	position:absolute;
	top:0;
	left:0;
}
#play-container #quiz {
	position:relative;
	width:99%;
	max-height:70vh;
	z-index:1;
	margin-top:4.1vw;
}
#question,
#explanation,
#leaderboard,
#outro {
	display:none;
}
#play-container #answers {
	position:absolute;
	bottom:0;
	max-height:20vh;
	width:99%;
	display:none;
}
#play-container .answer {
	position:relative;
	display:inline-flex;
	align-items:center;
	width:22%;
	margin:1%;
	border-radius:6px;
	color:#000;
	padding:10px;
	height:17vh;
}
@media screen and (max-width:768px) {
	#play-container #answers {
	 height:24vh;
	 max-height:24vh;
	 display:none;
	}
	#play-container .answer {
	 width:47%;
	 height:12vh;
	}
}
#play-container #answer-a {
	background-color:var(--yellow);
}
#play-container #answer-b {
	background-color:var(--red);
}
#play-container #answer-c {
	background-color:var(--blue);
}
#play-container #answer-d {
	background-color:var(--green);
}

