/* VARIABLES */
:root {
 /* Main colors */
	--aubergine:#3C0038;
	--red:#FF3333;
	--green:#33FF33;
	--blue:#3333FF;
	--yellow:#EEDD33;
	--grey:#B2B2B2;
	
	/* Font sizes */
	--small:10px;
	--medium:16px;
	--large:24px;
}
/* GENERAL ELEMENTS */
nav {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
}
h1,h2 {
	text-align:center;
	font-family:Bangers,Helvetica,Arial,sans-serif;
}
body {
	background-color:var(--aubergine);
	color:white;
	font-family:Roboto,sans-serif;
	font-size:var(--medium);
	padding:1rem;
}
#container {
	max-width:768px;
	margin:1.5rem auto;
	position:relative;
	height:calc(100vh - 3rem);
}
#logo {
	text-align:center;
}
#logo img {
	max-height:12em;
	margin:2rem 2rem 4rem 2rem;
}
@media screen and (max-width:768px) {
	#logo img {
	 max-height:6em;
	 margin:1rem 1rem 2rem 1rem;
	}
}
/* FORMS */
.form-group {
	background-color:transparent;
	border:0;
	text-align:center;
}
.form-group label,
.form-group small {
	color:white!important;
}
/* ADMIN ELEMENTS */
textarea.form-control {
	height:5rem;
}
.errors {
	margin:0;
	list-style-type:none;
}
.errors li {
	text-align:center;
	color:var(--red);
}
@media screen and (max-width:768px) {
	.errors li {
	 font-size:80%;
	}
}
/* PLAYER ELEMENTS */
#pin {
	font-size:var(--large);
	font-family:monospace;
	width:18rem;
	letter-spacing:0.5rem;
	margin:auto;
	text-align:center;
}

